<%= form_for(@catebg) do |f| %>
  <% if @catebg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catebg.errors.count, "error") %> prohibited this catebg from being saved:</h2>

      <ul>
      <% @catebg.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :namecatebg %><br />
    <%= f.text_field :namecatebg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
